parameters:
  app.agent_signature_skew_seconds: '%env(int:AGENT_SIGNATURE_SKEW_SECONDS)%'
  app.agent_nonce_ttl_seconds: '%env(int:AGENT_NONCE_TTL_SECONDS)%'
  app.filesvc_timeout_seconds_default: '10'
  app.filesvc_timeout_seconds: '%env(int:default:app.filesvc_timeout_seconds_default:APP_FILESVC_TIMEOUT_SECONDS)%'
  app.filesvc_port_default: '8444'
  app.filesvc_port: '%env(int:default:app.filesvc_port_default:APP_FILESVC_PORT)%'
  app.filesvc_scheme_default: 'https'
  app.filesvc_scheme: '%env(default:app.filesvc_scheme_default:APP_FILESVC_SCHEME)%'
  app.filesvc_client_cert: '%env(default::APP_FILESVC_CLIENT_CERT)%'
  app.filesvc_client_key: '%env(default::APP_FILESVC_CLIENT_KEY)%'
  app.filesvc_ca_cert: '%env(default::APP_FILESVC_CA_CERT)%'
  app.agent_release_channel_default: 'stable'
  app.agent_release_repository: '%env(default::APP_AGENT_RELEASE_REPOSITORY)%'
  app.agent_release_channel: '%env(default:app.agent_release_channel_default:APP_AGENT_RELEASE_CHANNEL)%'
  app.changelog_repository: '%env(default::APP_CHANGELOG_REPOSITORY)%'
  app.core_release_channel_default: 'beta'
  app.core_release_repository: '%env(default::APP_CORE_RELEASE_REPOSITORY)%'
  app.core_release_channel: '%env(default:app.core_release_channel_default:APP_CORE_RELEASE_CHANNEL)%'
  app.core_version: '%env(default::APP_CORE_VERSION)%'
  app.core_update_repository: '%env(default:app.core_release_repository:APP_CORE_UPDATE_REPOSITORY)%'
  app.core_update_workflow: '%env(default::APP_CORE_UPDATE_WORKFLOW)%'
  app.core_update_token: '%env(default::APP_GITHUB_TOKEN)%'
  app.core_update_install_dir: '%env(default::APP_CORE_UPDATE_INSTALL_DIR)%'
  app.core_update_manifest_url: '%env(default::APP_CORE_UPDATE_MANIFEST_URL)%'
  app.core_update_releases_dir: '%env(APP_CORE_UPDATE_RELEASES_DIR)%'
  app.core_update_current_symlink: '%env(APP_CORE_UPDATE_CURRENT_SYMLINK)%'
  app.core_update_lock_file: '%env(APP_CORE_UPDATE_LOCK_FILE)%'
  app.core_update_excludes_default: '.env,config/local*,var/,storage/,uploads/'
  app.core_update_excludes: '%env(default:app.core_update_excludes_default:APP_CORE_UPDATE_EXCLUDES)%'
  app.windows_nodes_enabled_default: '0'
  app.windows_nodes_enabled: '%env(bool:default:app.windows_nodes_enabled_default:APP_WINDOWS_NODES_ENABLED)%'
  app.payment_dummy_enabled_default: '0'
  app.payment_dummy_enabled: '%env(bool:default:app.payment_dummy_enabled_default:APP_PAYMENT_DUMMY_ENABLED)%'

services:
  _defaults:
    autowire: true
    autoconfigure: true
    bind:
      string $projectDir: '%kernel.project_dir%'

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Kernel.php'

  App\Module\Core\Application\EncryptionService:
    arguments:
      $activeKeyId: '%env(default::APP_ENCRYPTION_KEY_ID)%'
      $keyring: '%env(default::APP_ENCRYPTION_KEYS)%'

  App\Module\Core\Application\SecretsCrypto:
    arguments:
      $appSecret: '%env(APP_SECRET)%'
      $fallbackSecrets: '%env(default::APP_SECRET_FALLBACKS)%'

  App\Module\Core\Application\AgentSignatureVerifier:
    arguments:
      $maxSkewSeconds: '%app.agent_signature_skew_seconds%'
      $nonceTtlSeconds: '%app.agent_nonce_ttl_seconds%'

  App\Module\Core\Application\FileServiceClient:
    arguments:
      $timeoutSeconds: '%app.filesvc_timeout_seconds%'
      $defaultPort: '%app.filesvc_port%'
      $defaultScheme: '%app.filesvc_scheme%'
      $clientCertPath: '%app.filesvc_client_cert%'
      $clientKeyPath: '%app.filesvc_client_key%'
      $clientCaPath: '%app.filesvc_ca_cert%'

  App\Module\Core\Application\AgentReleaseChecker:
    arguments:
      $repository: '%app.agent_release_repository%'
      $cacheTtlSeconds: '%env(int:APP_AGENT_RELEASE_CACHE_TTL)%'
      $channel: '%app.agent_release_channel%'

  App\Module\Core\Application\ChangelogFetcher:
    arguments:
      $repository: '%app.changelog_repository%'
      $cacheTtlSeconds: '%env(int:APP_CHANGELOG_CACHE_TTL)%'

  App\Module\Core\Application\CoreReleaseChecker:
    arguments:
      $repository: '%app.core_release_repository%'
      $cacheTtlSeconds: '%env(int:APP_CORE_RELEASE_CACHE_TTL)%'
      $channel: '%app.core_release_channel%'

  App\Module\Core\Application\GithubWorkflowDispatcher:
    arguments:
      $repository: '%app.core_update_repository%'
      $workflowFile: '%app.core_update_workflow%'
      $token: '%app.core_update_token%'

  App\Module\Setup\Application\WebinterfaceUpdateService:
    arguments:
      $manifestUrl: '%app.core_update_manifest_url%'
      $installDir: '%app.core_update_install_dir%'
      $releasesDir: '%app.core_update_releases_dir%'
      $currentSymlink: '%app.core_update_current_symlink%'
      $lockFile: '%app.core_update_lock_file%'
      $excludes: '%app.core_update_excludes%'
      $fallbackVersion: '%app.core_version%'

  App\Module\Core\Domain\Event\EventBusInterface: '@App\Module\Core\Domain\Event\SymfonyEventBus'

  App\Repository\MinecraftVersionCatalogRepositoryInterface: '@App\Repository\MinecraftVersionCatalogRepository'

  App\Extension\ExtensionMenuRegistry:
    arguments:
      $menuProviders: !tagged_iterator 'app.extension.menu_provider'
