parameters:
  app.agent_signature_skew_seconds: '%env(int:AGENT_SIGNATURE_SKEW_SECONDS)%'
  app.agent_nonce_ttl_seconds: '%env(int:AGENT_NONCE_TTL_SECONDS)%'
  app.agent_release_repository: '%env(default::APP_AGENT_RELEASE_REPOSITORY)%'
  app.changelog_repository: '%env(default::APP_CHANGELOG_REPOSITORY)%'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  App\Service\EncryptionService:
    arguments:
      $activeKeyId: '%env(default::APP_ENCRYPTION_KEY_ID)%'
      $keyring: '%env(default::APP_ENCRYPTION_KEYS)%'

  App\Service\AgentSignatureVerifier:
    arguments:
      $maxSkewSeconds: '%app.agent_signature_skew_seconds%'
      $nonceTtlSeconds: '%app.agent_nonce_ttl_seconds%'

  App\Service\AgentReleaseChecker:
    arguments:
      $repository: '%app.agent_release_repository%'
      $cacheTtlSeconds: '%env(int:APP_AGENT_RELEASE_CACHE_TTL)%'

  App\Service\ChangelogFetcher:
    arguments:
      $repository: '%app.changelog_repository%'
      $cacheTtlSeconds: '%env(int:APP_CHANGELOG_CACHE_TTL)%'

  App\Domain\Event\EventBusInterface: '@App\Domain\Event\SymfonyEventBus'

  App\Extension\ExtensionMenuRegistry:
    arguments:
      $menuProviders: !tagged_iterator 'app.extension.menu_provider'
