version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/core"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/agent"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
