{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_plugins_add_title', page_locale()) %}
{% set activeNav = 'plugins' %}

{% block content %}
<div style="display:flex;flex-direction:column;gap:20px;">

    <div class="ng-data-card">
        <div class="ng-data-card__header">
            <div>
                <a class="ui-button ui-button--ghost ui-button--sm" href="/admin/plugins">{{ t('back', page_locale()) }}</a>
                <h2 class="ng-data-card__title" style="margin-top:8px;">{{ t('admin_plugins_add_title', page_locale()) }}</h2>
                <p class="ng-data-card__sub">{{ t('admin_plugins_form_intro', page_locale()) }}</p>
            </div>
            <div class="ng-data-card__actions">
                <a class="ui-button ui-button--ghost ui-button--sm" href="/admin/plugins/import">
                    {{ t('admin_plugins_import_button', page_locale()) }}
                </a>
            </div>
        </div>
        <div class="ng-data-card__body" id="plugin-form">
            {% include 'admin/plugins/_form.html.twig' with { form: form, templates: templates } %}
        </div>
    </div>

</div>
{% endblock %}
