{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_status_incidents_title', page_locale()) %}
{% set pageSubtitle = t('admin_status_incidents_intro', page_locale()) %}
{% set activeNav = 'status-incidents' %}

{% block content %}
<div class="flex flex-col gap-6">

    {% include 'admin/status/_nav.html.twig' %}

    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">Total</div>
            <div class="ng-kpi-box__value">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">Open</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--warning">{{ summary.open }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">Resolved</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ summary.resolved }}</div>
        </div>
    </div>

    <div class="ng-layout-2col">
        <div id="incidents-table" class="ng-data-card"
             hx-trigger="incidents-changed from:body"
             hx-get="/admin/status/incidents/table"
             hx-swap="outerHTML">
            <div class="ng-data-card__body--flush">
                {% include 'admin/status/incidents/_table.html.twig' with { incidents: incidents } %}
            </div>
        </div>

        <div id="incident-form" class="ng-data-card"
             hx-trigger="incidents-changed from:body"
             hx-get="/admin/status/incidents/form"
             hx-swap="outerHTML">
            <div class="ng-data-card__body">
                {% include 'admin/status/incidents/_form.html.twig' with { form: form, components: components, statuses: statuses } %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
