{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_shop_products_title', page_locale()) %}
{% set pageSubtitle = t('admin_shop_products_intro', page_locale()) %}
{% set activeNav = 'shop-products' %}

{% block content %}
<div class="flex flex-col gap-6">

    <div class="ng-layout-2col">
        <div id="shop-products-table" class="ng-data-card"
             hx-trigger="shop-products-changed from:body"
             hx-get="/admin/shop/products/table"
             hx-swap="outerHTML">
            <div class="ng-data-card__body--flush">
                {% include 'admin/shop/products/_table.html.twig' with { products: products } %}
            </div>
        </div>

        <div id="shop-products-form" class="ng-data-card"
             hx-trigger="shop-products-changed from:body"
             hx-get="/admin/shop/products/form"
             hx-swap="outerHTML">
            <div class="ng-data-card__body">
                {% include 'admin/shop/products/_form.html.twig' with { form: form, categories: categories, templates: templates, nodes: nodes } %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
