{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_shop_categories_title', page_locale()) %}
{% set pageSubtitle = t('admin_shop_categories_intro', page_locale()) %}
{% set activeNav = 'shop-categories' %}

{% block content %}
<div class="flex flex-col gap-6">

    <div class="ng-layout-2col">
        <div id="shop-categories-table" class="ng-data-card"
             hx-trigger="shop-categories-changed from:body"
             hx-get="/admin/shop/categories/table"
             hx-swap="outerHTML">
            <div class="ng-data-card__body--flush">
                {% include 'admin/shop/categories/_table.html.twig' with { categories: categories } %}
            </div>
        </div>

        <div id="shop-categories-form" class="ng-data-card"
             hx-trigger="shop-categories-changed from:body"
             hx-get="/admin/shop/categories/form"
             hx-swap="outerHTML">
            <div class="ng-data-card__body">
                {% include 'admin/shop/categories/_form.html.twig' with { form: form } %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
