{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('admin_status_maintenance_title', page_locale()) %}
{% set pageSubtitle = t('admin_status_maintenance_intro', page_locale()) %}
{% set activeNav = 'status-maintenance' %}

{% block content %}
<div class="flex flex-col gap-6">

    {% include 'admin/status/_nav.html.twig' %}

    <div class="ng-kpi-row">
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">Total</div>
            <div class="ng-kpi-box__value">{{ summary.total }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">Public</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--success">{{ summary.public }}</div>
        </div>
        <div class="ng-kpi-box">
            <div class="ng-kpi-box__label">Hidden</div>
            <div class="ng-kpi-box__value ng-kpi-box__value--info">{{ summary.hidden }}</div>
        </div>
    </div>

    <div class="ng-layout-2col">
        <div id="maintenance-windows-table" class="ng-data-card"
             hx-trigger="maintenance-windows-changed from:body"
             hx-get="/admin/status/maintenance/table"
             hx-swap="outerHTML">
            <div class="ng-data-card__body--flush">
                {% include 'admin/status/maintenance/_table.html.twig' with { windows: windows } %}
            </div>
        </div>

        <div id="maintenance-window-form" class="ng-data-card"
             hx-trigger="maintenance-windows-changed from:body"
             hx-get="/admin/status/maintenance/form"
             hx-swap="outerHTML">
            <div class="ng-data-card__body">
                {% include 'admin/status/maintenance/_form.html.twig' with { form: form, components: components } %}
            </div>
        </div>
    </div>

</div>
{% endblock %}
