{% set siteTitle = app_setting('site_title', 'Easy-Wi NextGen') %}
{% set brandingName = app_setting('branding_name', siteTitle) %}
{% set brandingLogo = app_setting('branding_logo_url') %}
<!DOCTYPE html>
<html lang="{{ pageLocale|default(page_locale()) }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteTitle }}</title>
    <link rel="stylesheet" href="/ui.css">
    <link rel="stylesheet" href="/admin-customer.css">
</head>
<body class="customer-interface ng-shell">
<div class="ng-layout">
    {% include 'components/_sidebar.html.twig' with {
        title: brandingName,
        logoUrl: brandingLogo ?: asset('easywi-nextgen-logo.svg'),
        activeNav: activeNav|default(''),
        groups: sidebarGroups|default([]),
        footer: ''
    } %}

    <main class="ng-main">
        {% include 'components/_topbar.html.twig' with {
            title: pageTitle|default(''),
            subtitle: pageSubtitle|default(''),
            actions: topbarActions|default([])
        } %}
        <div class="ng-content">
            {% block body %}{% endblock %}
        </div>
    </main>
</div>
</body>
</html>
