framework:
  messenger:
    failure_transport: failed
    transports:
      async:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          queue_name: async
          prefetch_count: '%env(int:MESSENGER_PREFETCH_COUNT)%'
        retry_strategy:
          max_retries: 3
          delay: 1000
          multiplier: 2
          max_delay: 60000
      failed:
        dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
        options:
          queue_name: failed
    routing: { }
