{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('search_title', page_locale()) %}
{% set pageSubtitle = t('global_search_placeholder', page_locale()) %}
{% set activeNav = 'search' %}

{% block content %}
{% set locale = page_locale() %}
<div style="display:flex;flex-direction:column;gap:20px;">
    {% include 'admin/search/_results.html.twig' with { query: query, results: results } %}
</div>
{% endblock %}
