{% extends 'admin/base.html.twig' %}

{% set pageTitle = t('search_title', page_locale()) %}
{% set pageSubtitle = t('global_search_placeholder', page_locale()) %}
{% set activeNav = 'search' %}

{% block content %}
<div class="flex flex-col gap-6">
    {% include 'admin/search/_results.html.twig' with { query: query, results: results } %}
</div>
{% endblock %}
