{% extends 'admin/base.html.twig' %}


{% block content %}
<div class="ng-data-card">
    <div class="ng-data-card__header">
        <div>
            <h2 class="ng-data-card__title">{{ t('admin_ts3_provision_title', page_locale()) }}</h2>
            <p class="ng-data-card__sub">{{ t('admin_ts3_provision_intro', page_locale()) }}</p>
        </div>
        <div class="ng-data-card__actions">
            <a class="ui-button ui-button--ghost ui-button--sm" href="/admin/ts3/instances/new">{{ t('admin_ts3_provision_back', page_locale()) }}</a>
        </div>
    </div>
    <div id="ts3-instance-form">
        {% include 'admin/ts3/instances/_form.html.twig' with { customers: customers, nodes: nodes, form: form } %}
    </div>
</div>
{% endblock %}
