{% extends 'email/base.html.twig' %}
{% block body %}
<p>New contact request from {{ sender_name }} ({{ sender_email }}).</p>
<p><strong>Subject:</strong> {{ subject_line }}</p>
<p>{{ message_body|nl2br }}</p>
{% endblock %}
